$navbar-item-hover-background-color: transparent;
  
@import '~rbx/index.sass'


.hero-text-column
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;

.memoji-image-wrapper
  max-height: 320px;
  max-width: 75%;
  margin: 0 auto;